*{
    margin:0 auto;
    width: 1000px;
}

.logo{
    height: 120px;
    width: 200px;
    background-color: #add8e6;
    float: left;
}

.logo img{
    width: 100%;
    height: 100%;
}

.user_name{
    height: 60px;
    width: 800px;
    background-color: #87ceeb;
    float: left;
    text-align: right;
}

.welcome{
    width: 100%;
    height: 20px;
    padding: 18px 0;
}

.last_login{
    height: 60px;
    width: 800px;
    background-color: #00ffff;
    float: left;
    text-align: right;
}

.last_login_date{
    width: 100%;
    height: 20px;
    padding: 18px 0;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
 }
 

table{
    padding-top: 10px;
    margin-bottom: 10px;
    width: 700px;
    table-layout: auto;
 }  

 th{
    white-space: nowrap;
 }

 td{
    white-space: nowrap;
 }

 .company_name{
    width: 100%;
    height: 50px;
    background-color: #00cedf;
 }